@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.neumorphism {
  box-shadow: -17px -17px 33px #97a4dd, 17px 17px 33px #764ba2;
}
