@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.neumorphism {
  box-shadow: -10px -17px 33px #a3aee0, 17px 17px 33px #5d3b80;
}
